<html xmlns:th="">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Example</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="main">
        <h1>Login</h1>
        <button class="btn btn-default" type="submit">Button</button>
    </div>
</div>
</body>
</html>
